# Listen

Bislang haben wir in einer Variable jeweils nur ein Element (Zahl oder String) gespeichert.

In [ ]:
student1 = "Max"
student2 = "Monika"
student3 = "Erik"
student4 = "Franziska"

### Eine Liste erstellen
**Listen** hingegen können mehrere Elemente enthalten. Man erzeugt eine Liste und füllt sie mit Elementen wie folgt:

**Listenname = [Element1, Element2, Element3]** 

Natürlich kann eine Liste nicht nur drei, sondern beliebig viele Elemente enthalten.

Konkret kann das dann so aussehen:

In [1]:
studenten = ["Max", "Monika", "Erik", "Franziska"]

In [2]:
noten = [4, 3, 2, 1]

Listen kannst du wie Zahlen und Strings per print()-Befehl ausgeben.

In [3]:
print(studenten)

['Max', 'Monika', 'Erik', 'Franziska']

In einer Liste dürfen auch Strings und Zahlen nebeneinander vorkommen, doch davon ist abzuraten! Wir werden dafür später geeignetere Strukturen kennenlernen. :-)

### Ein Element aus einer Liste auswählen
Du kannst auch auf die Elemente aus einer Liste einzeln zugreifen. Stell dir vor, dass alle Elemente in einer Liste durchnummeriert sind, aufsteigend von 0 an. Per **Index** kannst du ein Element über seine Position in der Liste anwählen: 

**Listenname[Position]**

Konkret sieht das so aus:

In [4]:
print(studenten[0])

Max

In [5]:
print(studenten[1])

Monika

In [6]:
print(studenten[2])

Erik

In [7]:
print(studenten[3])

Franziska

Die ausgewählten Elemente aus einer Liste kannst du dann weiterverarbeiten wie du das von Variablen schon kennst. Dabei solltest du beachten, ob es sich bei den Elementen um Zahlen oder Strings handelt.

In [8]:
print(studenten[0] + " und " + studenten[3])

Max und Franziska

In [9]:
# den Notendurchschnitt ausrechnen
print((noten[0] + noten[1] + noten[2] + noten[3]) / 4)

2.5

### Ein weiteres Element an eine Liste anhängen
Möchtest du ein weiteres Element an deine Liste anhängen, verwendest du den **append()**-Befehl. Anders als die Befehle, die du schon kennst, wie den print()-Befehl, steht append() nicht für sich, sondern mit einem Punkt _hinter_ dem Objekt, auf den append() angewendet wird: 

**Listenname.append(Element)**

In [12]:
studenten.append("Plotti")

Jetzt schauen wir uns an, ob der Befehl auch funktioniert hat ;-):

In [13]:
print(studenten)

['Max', 'Monika', 'Erik', 'Franziska', 'Moritz', 'Plotti']

### Ein Element entfernen
Genauso wie du ein Element hinzufügen kannst, so kannst du auch das letzte Element aus der Liste entfernen. 

**Listenname.pop()**

In [7]:
planets = ["Merkur", "Venus", "Erde", "Mars", "Jupiter", "Saturn", "Uranus", "Neptun", "Pluto"]
planets.pop()
print(planets)

['Merkur', 'Venus', 'Erde', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptun']

In [11]:
planets = ["Merkur", "Venus", "Erde", "Mars", "Jupiter", "Saturn", "Uranus", "Neptun", "Pluto"]

p = planets.pop()
print(p)

print(planets)

Pluto
['Merkur', 'Venus', 'Erde', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptun']

### Die Länge einer Liste abfragen
Mit dem len-Befehl kannst du herausfinden, wie viele Elemente eine Liste enthält: **len(Listenname)**

In [38]:
print(len(students))

4

## Übung
- Speichere die Namen aller Kursteilnehmer in einer Liste, angefangen mit Dir.
- Jetzt füge per append die Instruktoren hinzu.
- Jetzt füge per append noch Dein Alter hinzu. 
- Jetzt lösche lieber Dein alter. 
- Gib die Liste aus.

In [3]:
studentA = "Mich"
studentB = "Max"
studentC = "Marina"
studentD = "Moni"

In [11]:
studenten = ["Mich", "Max", "Marina", "Moni"]

In [12]:
print(studenten[2] + " und " + studenten[3])

Marina und Moni

In [13]:
studenten.append("Juerg")

In [14]:
studenten

['Mich', 'Max', 'Marina', 'Moni', 'Juerg']

In [ ]:
# Hier wird was kommentiert

# Heading 1
## Heading 2
### sdasdssas
#### sasdasd


sa
sadasd

In [27]:
studentA = "Peter"
studentB = "Denise"
studentC = "Lea"
studentD = "Reto"
studentE = "Thierry"
studentF = "Yannick"
studentG = "Florian"
studentH = "Michael"
studentI = "Claudia"
studentK = "Juerg"

In [76]:
studenten = ["Peter", "Denise", "Lea", "Reto", "Thierry", "Yannick", "Florian", "Michael", "Claudia", "Juerg"]

In [77]:
studenten.append("Thomas")

In [78]:
studenten.append(str(51))

In [79]:
print(studenten)

['Peter', 'Denise', 'Lea', 'Reto', 'Thierry', 'Yannick', 'Florian', 'Michael', 'Claudia', 'Juerg', 'Thomas', '51']

In [ ]:
instruktorA = "Thomas"
instruktorB = "Thierry"
instruktorC = "Barney"
InstruktorD = "Dominique"

In [21]:
planets = ["Merkur", "Venus", "Erde", "Mars", "Jupiter", "Saturn", "Uranus", "Neptun", "Pluto"]

p = planets.pop()
print(p)

print(planets)

Pluto
['Merkur', 'Venus', 'Erde', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptun']

In [24]:
n = planets.pop()
print(n)

Uranus

In [25]:
print(len(studenten))

5