# Daten umwandeln - Strings und Zahlen
Daten umzuwandeln ist wahrscheinlich, das was du am meisten machen wirst. Deshalb ist es praktisch es schon jetzt kennen zu lernen.

### Einen String in eine Zahl umwandeln
Dazu wenden wir den **int()**-Befehl auf einen String (direkt oder in einer Variable gespeichert) an: **int(string)**

int steht für Integer, den englischen Begriff für Ganzzahl.

In [1]:
a = "5"
b = "6"

print(int(a) + int(b))

11

### Einen String in eine Kommazahl umwandeln
Dazu wenden wir den **float()**-Befehl auf einen String (direkt oder in einer Variable gespeichert) an: **float(string)** 
 
 
Der Name float kommt daher, dass man Kommazahlen auch Fließkommazahlen nennt.

In [1]:
a = "5.5"
b = "6.6"

print(float(a) + float(b))

12.1

### Eine Zahl in einen String umwandeln
Dazu wenden wir den **str()**-Befehl auf eine Ganzzahl oder Kommazahl an (direkt oder in einer Variable gespeichert): **str(zahl)**

In [3]:
age = 21
print("Ich bin " + str(age) + " Jahre alt")

Ich bin 21 Jahre alt

## Übung

- Speichere  die Zahl PI mit 4 Nachkommastellen in der Variable a. 
- Multipliziere sie mit 2. 
- Wandle die Zahl in einen String um und gebe sie aus als Satz: "Das doppelter der Zahl Pi ist: a"

# Daten umwandeln - Listen und Strings
Wir können mit Python Elemente zu einer Liste zusammenfügen oder eine Liste in einzelne Elemente zerlegen.

### Strings aus einer Liste zu einem String zusammenfügen

Mit dem  **join()**-Befehl, der auf einen String angewendet wird, verbinden wir die Strings aus einer Liste zu einem neuen String: **string.join(liste)**

Der String, auf den join() angewendet wird, bildet dabei die Nahtstelle: Dieser String wird als Verbindung zwischen den einzelnen Listenelementen im neuen String gesetzt.

In [1]:
students = ["Max", "Monika", "Erik", "Franziska"]
print(", ".join(students))

Max, Monika, Erik, Franziska

In [2]:
students_as_string = ", ".join(students)
print("An unserer Uni studieren: " + students_as_string)

An unserer Uni studieren: Max, Monika, Erik, Franziska

In [3]:
students = ["Max", "Monika", "Erik", "Franziska"]
print(" - ".join(students))

Max - Monika - Erik - Franziska

### Einen String in eine Liste aufspalten

Mit dem **split()**-Befehl, der auf einen String angewendet wird, wird dieser String an seinen Leerzeichen aufgespalten und die daraus resultierenden Einzelstrings in einer Liste gespeichert: **string.split()**

In [4]:
i = "Max, Monika, Erik, Franziska"

In [5]:
print(i.split())

['Max,', 'Monika,', 'Erik,', 'Franziska']

Wir können sogar noch genauer festlegen, an welchen Stellen der String von split() aufgespaltet werden soll.

In [6]:
print(i.split(", "))

['Max', 'Monika', 'Erik', 'Franziska']

In [7]:
print(i.split("a"))

['M', 'x, Monik', ', Erik, Fr', 'nzisk', '']

Insbesondere können wir auch mehrere der Befehle, die wir schon kennen gelernt haben, miteinander kombinieren:

In [8]:
# Hier zählen wir die Anzahl der Wörter des Satzes s

s = "Ich bin ein Satz mit vielen Wörtern"
print(len(s.split()))

7

## Übung 1
- Nimm einen Artikel aus 20 minuten. 
- Kopiere ihn in einen String. 
- Zerlege den Artikel in Wörter. 
- Zähle die Wörter. 
- Gib aus " Der Artikel xyaz enthält x wörter"

## Übung 2 

- Lass dir vom Nachbarn seine Email geben. 
- Wenn die Mailadresse _Max-Mustermann@gmail.com_ lautet, sollst du _Max-Mustermann_ ausgeben; wenn die Mailadresse _KlaraKlarnamen@uni-berlin.de_ heisst, sollst du _KlaraKlarnamen_ ausgeben.

## Übung 3

Aktuell legen alle Kunden (`mail1`, `mail2`, `mail3`) als separate Variable vor. Wir möchten daraus jetzt eine Liste bauen, sodass wir die Möglichkeit hätten, später noch weitere Kunden in diese Liste hinzuzufügen.

Überführe deswegen die Kunden `mail1`, `mail2` und `mail3` in die Liste `clients` und lasse dir anschließend die Anzahl der Elemente der Liste `clients` mit Hilfe von Python ausgeben.

In [82]:
mail1 = "zarah.zauber@zauberberg.de"
mail2 = "thomas.plotkowiak@gmail.com"
mail3 = "uwe_unhold@dunklerwald.de" 

clients = []

# Füge hier mail1, mail2, mail3 zur clients - Liste hinzu


print(clients)

[]

In [83]:
clients = ["mail1", "mail2", "mail3"]

In [84]:
clients.append("juerg")

In [85]:
print(len(clients))

4

In [1]:
a ="5"
b = "6"

In [2]:
print(int(a) + int(b))

11

In [3]:
a ="5.5"
b = "6.6"

print(float(a) +float(b))

12.1

In [14]:
a = "3.14156"
b = (float(a)*2)

In [15]:
print("Das doppelte der Zahl Pi ist " +  str(b))

Das doppelte der Zahl Pi ist 6.28312

In [26]:
studenten = ["Peter", "Denise", "Lea"]

In [30]:
print(studenten[0]  + " und " + studenten[1]  + " und "  + studenten[2])

Peter und Denise und Lea

In [33]:
print(" und ".join(studenten))

Peter und Denise und Lea

In [40]:
studenten = "Peter, Denise, Lea"

In [41]:
print(studenten.split(", "))

['Peter', 'Denise', 'Lea']

In [42]:
len(studenten.split(", "))

3

In [43]:
s = "ich bin ein satz"
print(len(s.split()))

4

In [50]:
s = "Druckfrisch eingetroffen ist unser neuer Katalog 2019! Sie erhalten diesen in den kommenden Tagen per Post. Neu sind neben den Häfen in Irland und dem Hafen in Bram die Verdoppelung unserer Pénichette Evolution Flotte und die Mietpreise für unsere Kurzaufenthalte. Für die Saison 2019 gilt der Familien- und der Gruppenrabatt auch für die Wochenenden und Kurzwochen. Bis 15.11.2018 kann noch unser Frühbuchernachlass von 7% gesichert werden. Bis zum 15.10.2018 erhalten Sie zusätzlich noch 3% Sonderrabatt. Insgesamt können Sie kumuliert über 20% Ermäßigung erhalten. Der frühe Vogel fängt den Wurm."
print(len(s.split(" ")))

89

In [51]:
t = len(s.split(" "))

In [56]:
print("Dieser Text hat " + str(t) + " Wörter")

Dieser Text hat 89 Wörter

In [59]:
i = "Max, Monika, Erik, Franziska"

In [60]:
print(i.split())

['Max,', 'Monika,', 'Erik,', 'Franziska']

In [61]:
print(i.split("a"))

['M', 'x, Monik', ', Erik, Fr', 'nzisk', '']

In [72]:
m = "max.mustermann@gmail.com"

In [73]:
print(m.split("@") [0])

max.mustermann